<!DOCTYPE html>
<html lang="en" ng-app="myModule">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="controller.js"></script>
</head>
<body>

	<div class="form-container forgotPassword-container container" ng-controller="addForgotPasswordController">
		<form action="#">
			<h1>Forgot Password</h1>
			<input type="email" placeholder="Email" ng-model="email"/>
			<button ng-click="forgotPassword()">Send</button>
		</form>
	</div>
</body>
</html>