* {
    box-sizing: border-box;
  }
  @media screen and (min-width: 920px) {
    h1.display-4 {
      font-size: 2.5vw;
    }
  }
  @media screen and (max-width: 919px) {
    h1.display-4 {
      font-size: 23px;
    }
  }
  div.date {
    position: relative;
  }
  .hide:hover {
    color: rgb(170, 18, 18);
  }
  .hide {
    position: absolute;
    top: 8px;
    left: 9px;
    color: rgb(48, 48, 48);
    z-index: -1;
    font-weight: lighter;
  }
  .check {
    background-color: rgb(224, 224, 224);
  }
  .room {
    background-color: rgb(50, 0, 27);
    color: white;
    border-width: 0px;
  }
  .room:hover {
    background-color: rgb(28, 0, 14);
    color: white;
    border-width: 0px;
  }
  .send {
    background-color: rgb(50, 0, 27);
    color: white;
    border-width: 0px;
  }
  .nav-link {
    color: rgb(28, 0, 14);
    padding: 16px 0px;
  }
  .nav-link:hover {
    color: rgb(71, 0, 44);
    border-bottom: 4px solid rgb(71, 0, 44);
    padding-bottom: 12px;
  }
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }