<!DOCTYPE html>
<html lang="en" ng-app="myModule">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="controller.js"></script>
</head>
<body>

    <form class="form form-user-settings" ng-controller="addResetPasswordController">
        <div class="form__group ma-bt-lg"><label class="form__label" for="newPassword"> New password </label><input class="form__input" id="newPassword" type="password" placeholder="••••••••" required="required" minlength="8" ng-model="newPassword"/></div>
        <div class="form__group ma-bt-lg"><label class="form__label" for="confirmPassword">Confirm password</label><input class="form__input" id="confirmPassword" type="password" placeholder="••••••••" required="required" minlength="8" ng-model="confirmPassword"/></div>
        <div class="form__group right"><button class="btn" ng-click="resetPassword()">Save password</button></div>
    </form>
</body>
</html>