<link rel="stylesheet" href="./user/style.css">
<div class="user-setting" ng-init="prepareUserPage()">
    <div class="user-view__content" id="user-view">
        <div class="user-view__form-container">
            <h2 class="heading-secondary ma-bt-md">Your account settings</h2>
            <form class="form form-user-data" >
                <div class="form__group"><label class="form__label" for="name">Name</label><input class="form__input" id="user_name" type="text" value="Name" required="required" /></div>
                <div class="form__group ma-bt-md"><label class="form__label" for="email">Email address</label><input class="form__input" id="email" type="email" value="user@email.com" required="required" /></div>
                <div class="form__group form__photo-upload"><img class="form__user-photo" src="./Images/user_defaut.png" alt="User photo" /> <input type="file" accept='image/*' name="user-photo" id="user-photo" ></div>
                <div class="form__group right"><button class="btn btn--small btn--green" ng-click="saveSetting()">Save settings</button></div>
            </form>
        </div>
        <div class="line">&nbsp;</div>
        <div class="user-view__form-container">
            <h2 class="heading-secondary ma-bt-md" style="padding-top: 50px;">Password change</h2>
            <form class="form form-user-settings">
                <div class="form__group"><label class="form__label" for="password-current">Current password</label><input class="form__input" id="password-current" type="password" placeholder="••••••••" required="required" minlength="8" ng-model="curentPassword" /></div>
                <div class="form__group"><label class="form__label" for="password">New password</label><input class="form__input" id="password" type="password" placeholder="••••••••" required="required" minlength="8" ng-model="newPassword" /></div>
                <div class="form__group ma-bt-lg"><label class="form__label" for="password-confirm">Confirm password</label><input class="form__input" id="password-confirm" type="password" placeholder="••••••••" required="required" minlength="8" ng-model="confirmPassword"/></div>
                <div class="form__group right"><button class="btn btn--small btn--green" ng-click="savePassword()">Save password</button></div>
            </form>
        </div>
    </div>
</div>
